.inputbox-root {
    display: flex;
    height: 100%;
}

.inputbox-root form{
    display: flex;
    width: 100%;
}

.inputtextbox {
    width: 90%;
    font-size: xx-large;
    background-color: rgb(9, 5, 5);
    color:lightgreen
}
.submitbutton {
    width: 10%;
    font-size: xx-large;
}