.listBox-root{
    display: flex;
    z-index: 2;
    flex-direction: column;
    min-height: 30em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.listBox-scroller{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.listBoxItem-root{
    display: flex;
    min-height: 4em;
    min-width: 100%;
    border-style: solid;
    border-width: thin;
}

.listBoxItem-task{
    display: flex;
    background-color: red;
    min-width: 30%;
}

.listBoxItem-notes{
    display: flex;
    background-color: yellow;
    min-width: 60%;
}

.listBoxItem-completed{
    display: flex;
    background-color: green;
    min-width: 10%;
    justify-content: center;
    padding-top: 0.5em;
}